.data{
    width: 400px;
    border-width: 2px;        /* Độ dày của viền */
    border-style: solid;      /* Kiểu của viền */
    border-color: #5500ff;    /* Màu sắc của viền */
    border-radius: 10px;
}