<div class="home">
<p>đây là component home!</p>
<h3> My name is {{name}}</h3>
<input value="{{name}}">
<br>
<input [value]="name">
<br>
<input value="{{name}}" title="day la {{name}}"/>
<br>
<input [value]="name" [title]="'day la '+ name "/>
<br><br>
<p *ngIf="age>18">Bạn đã già</p>
<p *ngIf="age<=18">Bạn còn trẻ</p>
<br>
<input type="text" [(ngModel)]="name"/>
<p>xin chào {{name}}</p>
<br>
<button (click)="resetName()"> Reset name</button>

</div>
<br><br>
<div class="abc">
    <br>
    <input [(ngModel)]="age"/>
    <!-- <p *ngIf="age<=18">Bạn còn trẻ</p>
    <p *ngIf="age>18">Bạn đã già</p>
        Cach lam khac
-->
        <div *ngIf="age<=18; then tre; else gia"></div>
            <ng-template #tre><p>Bạn còn trẻ</p></ng-template>
            <ng-template #gia><p>Bạn đã già</p></ng-template>
</div>
<br><br>
<div class="def">
<h3>Trái cây</h3>
<div *ngFor="let trai of traicay; let i = index">
    <li>{{ i+1 }}. {{trai}}</li>
</div>
<br>
<table class="table">
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Hạ Giá</th>
      <th>Pipe</th>
    </tr>
    <tr *ngFor="let trai of traicay2;let i =index">
      <td>{{i+1}}</td>
      <td>{{trai.ten | uppercase}}</td>
      <td [ngClass]="{'so-am' : trai.gia < 0}">{{trai.gia | currency:'VND'}}</td>
     <td [ngClass]="{'so-am': trai.haGia==1}">
      <div *ngIf="trai.haGia==1; then co; else khong" ></div>
      <ng-template #co><p>Có</p></ng-template>
      <ng-template #khong ><p >Không</p></ng-template>
    </td>
    <td>
        <span>{{trai.pipe | pipe | uppercase}}</span>
    </td>
    </tr>
  </table>
</div>