.home{
    width: 400px;
    border-width: 2px;        /* Độ dày của viền */
    border-style: solid;      /* Kiểu của viền */
    border-color: #ff0000;    /* Màu sắc của viền */
    border-radius: 10px;
    color: red;
}
.abc{
    width: 400px;
    border-width: 2px;        /* Độ dày của viền */
    border-style: solid;      /* Kiểu của viền */
    border-color:black;    /* Màu sắc của viền */
    border-radius: 10px;
    color: red;;
}
.def{
    width: 400px;
    border-width: 2px;        /* Độ dày của viền */
    border-style: solid;      /* Kiểu của viền */
    border-color:black;    /* Màu sắc của viền */
    border-radius: 10px;
}
.table ,th,td{
    border-collapse: collapse;
    border: 1px solid black;

  }
  th{
    min-width:  50px;
  }
.so-am{
    color: red;
}
.ghk{
    width: 400px;
    border-width: 2px;        /* Độ dày của viền */
    border-style: solid;      /* Kiểu của viền */
    border-color:black;    /* Màu sắc của viền */
    border-radius: 10px;
}